
body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    background: var(--cp-color-17);
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: brown;
    color: white;
    height: 70px;
  }
  
  .header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
  
  .header ul li {
    padding: 20px;
    list-style: none;
  }
  
  .header ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
  }
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  h1 {
    font-size: 6rem;
  }
  h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
  }
  .projects-section {
    padding: 6rem 1rem;
  }
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
  }
  .projects-section-header {
    font-size: 4rem;
  }
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
      margin-bottom: 0px;
    margin-bottom: 6rem;
  }
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  a {
    text-decoration: none;
    color: var(--main-white);
  }
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  img {
    display: block;
    width: 100%;
  }
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
  }
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
  }
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  
  footer {
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }